DB_NAME=<DB_NAME_HERE>
DB_USER=<DB_USERNAME_HERE>
DB_PASSWORD=<DB_PASSWORD_HERE>
DB_HOST=<DB_HOST_HERE>
DB_PORT=<DB_PORT_HERE>

MAIL_USERNAME = <MAIL_USERNAME_HERE>
MAIL_PASSWORD = <MAIL_PASSWORD_HERE>

JWT_SECRET_KEY = <JWT_SECRET_KEY_HERE>
